*{
	margin: 0px;
	padding: 0px;
}
.head{
	background-color: #B3B3B3;
	margin: 5px 10px;
	padding: 5px 10px;
	border: 1px solid #C0B494;
	height: 50px;
}
.body{
	background-color: #CCCCCC;
	margin: 5px 10px;
	padding: 20px 10px;
	font-size: 20px;
	border: 1px solid #C0B494;
	height: 70px;
}
.foot{
	background-color: #FFFF99;
	margin: 5px 10px;
	padding: 5px 10px;
	border: 1px solid #C0B494;
	height: 30px;
}
@media only screen and (max-width: 480px){
	.md{
		display: none;
	}
	.lg{
		display: none;
	}
}
@media only screen and (min-width: 481px){
	.sm{
		display: none;
	}
	.lg{
		display: none;
	}
}
@media only screen and (min-width: 1024px){
	.sm{
		display: none;
	}
	.md{
		display: none;
	}
	.lg{
		display: block;
	}
}
span{
	font-weight: bold;
}